* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../images/bg-intro-desktop.png");
  background-size: cover;
  background-color: #ff7a7a;
}

.container-1 {
  background-color: none;
  width: 75%;
  margin: 10em;
}

.header {
  color: white;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  font-size: 3rem;
}

.paragraph {
  color: white;
  font-size: 1.2rem;
}

.container-2 {
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 4em;
  margin-top: 7em;
}

.final-p {
  color: #b9b6d3;
  font-size: 0.8rem;
  margin-bottom: 4em;
  margin-top: -2em;
  text-align: center;
}

.final-p a {
  color: #bc1a1a;
  text-decoration: none;
}

.btn {
  padding: 25px;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  color: white;
  -webkit-box-shadow: 1px 5px 2px rgba(87, 80, 119, 0.5);
          box-shadow: 1px 5px 2px rgba(87, 80, 119, 0.5);
  font-weight: bold;
  font-size: 1.1rem;
}

.btn a {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.first-btn {
  background-color: #6055a5;
}

.form {
  background-color: white;
  -webkit-box-shadow: 1px 5px 2px rgba(87, 80, 119, 0.5);
          box-shadow: 1px 5px 2px rgba(87, 80, 119, 0.5);
  border-radius: 7px;
  margin-bottom: 4em;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
  margin-left: 2em;
}

.inputs input {
  width: 90%;
  padding: 1em;
  color: #b9b6d3;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.denied {
  color: #ff7a7a;
  font-style: italic;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-left: 2em;
  width: 93%;
  display: none;
}

.errorwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 1%;
  margin-left: 94%;
  margin-top: -3.8em;
  margin-bottom: 10px;
  display: none;
}

.errorwrap .exc {
  display: block;
  width: 18px;
}

.inputs-error {
  border: 2px solid #ff7a7a;
  border-radius: 2px;
}

.inputs input:focus, .inputs input:active {
  color: black;
}

.second-btn {
  background-color: #38cc8c;
  padding: 1.3em;
  width: 99%;
  margin-left: 0em;
  margin-top: 0.5em;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  body {
    background-image: url("../../images/bg-intro-mobile.png");
  }
  .container-1 {
    background-color: none;
    width: 75%;
    margin: 10em;
    margin-left: 3em;
  }
  .container-2 {
    margin-top: -15em;
    margin-left: 3.6em;
  }
  .header {
    margin-top: -2em;
    margin-left: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .paragraph {
    width: 100%;
    text-align: center;
    margin-bottom: 9em;
    font-size: 0.9rem;
  }
  .btn {
    padding: 15px;
    margin-bottom: 2em;
  }
  .btn a {
    line-height: 1.5rem;
  }
  .break::after {
    content: "\a";
    white-space: pre;
  }
  .first-btn {
    width: 115%;
    margin-left: -2.5em;
    padding: 1em;
  }
  .btn a {
    font-size: 1rem;
  }
  .form {
    width: 115%;
    margin-left: -2.7em;
    margin-top: -1em;
    margin-bottom: 5em;
  }
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em;
    margin-left: 2em;
  }
  .inputs input {
    margin-bottom: 0.1em;
    margin-left: -0.5em;
    padding: 1em;
    font-size: 1rem;
  }
  .errorwrap {
    margin-top: -2.4em;
    margin-bottom: 0.4em;
    margin-left: 74vw;
  }
  .denied {
    margin-bottom: -1em;
    margin-left: 1.5em;
    font-size: 0.7rem;
  }
  .second-btn {
    width: 100%;
    margin-left: -0.5em;
    margin-top: 1em;
    margin-bottom: 1.4em;
    font-size: 1em;
    padding: 1em;
  }
  .final-p {
    font-size: 0.7rem;
    margin-top: -1.5em;
    line-height: 1.49rem;
  }
}
/*# sourceMappingURL=styles.css.map */